<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link rel="stylesheet" href="">
    <link rel="icon" href="/static/img/icono.ico">
</head>
<body>
    <h1>hi  world</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus nisi aliquid assumenda voluptatibus beatae magnam distinctio minima deserunt sint at aut, dignissimos ad modi consequuntur numquam quos optio sequi aperiam!</p>
</body>
</html>